[submodule "org.vim.Vim/pack/plugins/opt/vim-toml"]
	path = org.vim.Vim/pack/plugins/opt/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "org.vim.Vim/pack/plugins/start/vim-gitgutter"]
	path = org.vim.Vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "org.vim.Vim/pack/plugins/start/nerdtree-git-plugin"]
	path = org.vim.Vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "org.vim.Vim/pack/plugins/start/nerdtree"]
	path = org.vim.Vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
